{% assign spacing_top = section.settings.spacing_top | remove: "px" %}
{% assign spacing_bottom = section.settings.spacing_bottom | remove: "px" %}

<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper background-{{ section.settings.background | color_scheme_class }}" bgcolor="{{ section.settings.background }}" kjb-settings-id="{{ 'background' | settings_id: section: section }}">
  <tr>
    <td height="{{ spacing_top }}" style="font-size:{{ spacing_top }}px; line-height:{{ spacing_top }}px;">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'text' %}
            {% include "block_text" %}
          {% when 'image' %}
            {% include "block_image" %}
          {% when 'cta' %}
            {% include "block_cta" %}
        {% endcase %}
      {% endfor %}
    </td>
  </tr>
  <tr>
    <td height="{{ spacing_bottom }}" style="font-size:{{ spacing_bottom }}px; line-height:{{ spacing_bottom }}px;">&nbsp;</td>
  </tr>
</table>

{% schema %}
{
  "name": "Text",
  "elements": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#fff"
    },
    {
      "type": "text",
      "id": "spacing_top",
      "label": "Spacing Top",
      "default": "30",
      "info": "You may use the format 30px or simply 30"
    },
    {
      "type": "text",
      "id": "spacing_bottom",
      "label": "Spacing Bottom",
      "default": "30",
      "info": "You may use the format 30px or simply 30"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "elements": [
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "rich_text",
          "id": "body",
          "label": "Body",
          "default": "<h1>Profesional Emails</h1><p>From showcasing your products to sharing updates, our emails will help you look like a pro.</p>"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "Alignment",
          "default": "center",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Centered"},
            {"value": "right", "label": "Right"}
          ]
        }
      ]
    },
    {
      "type": "cta",
      "name": "CTA",
      "elements": [
        {
          "type": "header",
          "content": "CTA"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Call To Action"
        },
        {
          "type": "action",
          "id": "link_action",
          "label": "Link Action",
          "default": "http://www.kajabi.com"
        },
        {
          "type": "color",
          "id": "link_background",
          "label": "Link Background",
          "default": "#2e91fc"
        },
        {
          "type": "radio",
          "id": "alignment",
          "label": "Alignment",
          "default": "center",
          "options": [
            {"value": "left", "label": "Left"},
            {"value": "center", "label": "Centered"},
            {"value": "right", "label": "Right"}
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text",
      "category": "Content",
      "settings": {
      }
    }
  ]
}
{% endschema %}
